.chhl{
    margin-bottom: 1rem;
}

.list_food_first{
    color: #198754;
    border-bottom: 1px solid #198754;
    padding: 0.3rem;
    width: 232px;
    display: block;
    margin: 0rem;
    text-transform: capitalize;
    font-family: 'Otomanopee One';
}
.All_list_menu{
    width: 100%;
    padding: 0.5rem;
    margin: 0rem;
    background-color: burlywood;
    border-radius: 0.6rem;
    text-align: center;
    text-transform: capitalize;
    font-size: 14px;
    font-family: inherit;
    margin: 0.2rem auto;
    color: white;
    background-color: #198754;
    cursor: pointer;
    text-shadow: 0rem 0rem 0.1rem black;
    transform: .6s;
    display: block;
}
.List_Food_list h1{
    font-family: serif;
    color: #198754;
    margin-bottom: 1rem;
    margin-top: 1rem;
    width: 100%;
    text-shadow: 0rem 0rem 0.1rem black;
    cursor: pointer;
    animation: leftText 5s;
    transform-style: preserve-3d;
}
@keyframes leftText {
    0%{
        transform: translate(-100%);
    } 100%{

    }
}

.List_Food_All{ 
    list-style: none;
    width: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-start;
    transform-style: preserve-3d;
    animation: leftTextList 5s;
    padding: 0rem;
    margin: 0rem;
}

@keyframes leftTextList {
    0%{
        transform: translate(100%);
    }
    100%{}
}
.List_Food_All li{
    width: 100%;
    padding: 0.5rem;
    margin: 0rem;
    background-color: burlywood;
    border-radius: 0.6rem;
    text-align: center;
    text-transform: capitalize;
    font-size: 14px;
    font-family: inherit;
    margin: 0.2rem auto;
    color: white;
    background-color: #198754;
    cursor: pointer;
    text-shadow: 0rem 0rem 0.1rem black;
    transform: .6s;
}.List_Food_All li:hover{
    opacity: 0.9;
}