

.login_user_icons{
    width: 1rem;
    color: #198754;
    cursor: pointer;
}

.marrgin_bottom_form{
    margin-bottom: 1rem;
}

.form-control {
    display: block;
    width: 100%;
    padding: .375rem .75rem;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #198754;
    -webkit-appearance: none;
    appearance: none;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    height: 2rem;
}

.Change_Edit_submit {
    background-color: #198754;
    width: 200px;
    padding: 0rem;
    display: flex;
    flex-direction: row-reverse;
    border: none;
    height: 1.8rem;
    line-height: 1.8rem;
    margin-left: auto;
    justify-content: center;
    font-size: 13px;
    text-transform: capitalize;
    font-family: unset;
}

.form-label {
    margin-bottom: .5rem;
    font-size: 13px;
    font-family: unset;
    text-transform: capitalize;
}